.card {
  z-index: 1 !important;
  width: 28rem;
  min-height: 90%;
  border-radius: 0;
  border: 0;
  align-items: space-between;
}
.card-img-top {
  border-radius: 0;
}
.card-title,
.card-subtitle {
  margin-bottom: 1rem;
}
.card-title {
  font-size: 2.5rem;
}
.card-link {
  color: #3bb2d0;
}
.card-link:hover {
  color: #3bb2d0;
  text-decoration: underline;
}
h5 {
  color: #3bb2d0;
  font-weight: bold;
}
