.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 24rem;
  bottom: 0;
}
@media (max-width: 768px) {
  .map-container {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40vh;
    width: 100%;
  }
}
